x = [4, 8, 14, 22, 36, 68]
idhi oka list dhantlo
 4-8 max prime number is 7
8-14 max prime number is 13
14-22 max prime number is 19
22-36 max prime number is 31
36-68 max prime number is 67
sum of all max prime numbers = 137

In [6]:
def is_prime(n):
    
    if n<=1:
        
        return False
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            return False
            break
    return True

In [15]:
x=[14,16,20,22]
i=0
j=1

y=[]
while i<=len(x)-2 and j<=len(x)-1:
    mx=0
    for k in range(x[i]+1,x[j]):
        if is_prime(k):
            mx=max(mx,k)
    y.append(mx)
    i+=1
    j+=1
print(sum(y))

19

In [14]:
'''
l=[4,9,8,2,14,3,5,6]
n=3
  4 8 9 2 14 3 5 6
  | 2 8 9 14 3 5 6
  | | 8 9 14 3 5 6
  | | | 3 9 14 5 6
  | | | | 5 9 14 6
  | | | | | 6 9 14
  -----------------
  4 2 8 3 5 6 9 14
'''

'\nl=[4,9,8,2,14,3,5,6]\nn=3\n  4 8 9 2 14 3 5 6\n  | 2 8 9 14 3 5 6\n  | | 8 9 14 3 5 6\n  | | | 3 9 14 5 6\n  | | | | 5 9 14 6\n  | | | | | 6 9 14\n  -----------------\n  4 2 8 3 5 6 9 14\n'

In [2]:
x=[4,9,8,2,14,3,5,6]
for i in range(len(x)):
    z=x[i:i+3]
    z.sort()
    x[i:i+3]=z
print(x)

[4, 2, 8, 3, 5, 6, 9, 14]

inp="hello:5438,car:214,book:8799,apple:2187"
idhi input string annattu first hello undhi hello string length entha 5 .., 5 anedhi 5438 lo undhi so 5th character of hello print kaavali
nxt car len(car)=3 but three ledhu 214 lo 3 kanna below/less number 2 ... two undhi so 2nd character of car print kaavali nxt book len of book 4 kani 4 below m lev so 'x' print kaavali nxt apple length emo 5 but 5 ledhu 5 below 2 undhi 2187 lo so 2nd character of apple p print avvali

In [32]:
def fun(x,l):
    if l>=0:
        
        if str(l) in x[1]:
            print(x[0][l-1])
            return 
        else:
            return fun(x,l-1)
    else:
        return "x"
            
        
s="apple:2187"
x=s.split(":")
l=len(x[0])
fun(x,l)

p

In [33]:
inp = "hello:5438,car:214,book:8799,apple:2187"

def leng(x, y):
    xi = len(x)
    while xi not in map(int, str(y)):
        xi -= 1
        if xi < 1:
            return 0  
    return xi

s = ''
for i in inp.split(','):
    x, y = i.split(':')
    if str(len(x)) in str(y):
        s += x[len(x) - 1]
    else:
        length = leng(x, y)
        if length < 1:
            s += 'x'
        
        else:
            s += x[length - 1]

print(s)

oaxp

         10
    5           20
1        7
    6        8